<%- include('../admin/layouts/admin_header.ejs')%>

  <main class="h-full pb-16 overflow-y-auto">
    <div class="container grid px-6 mx-auto">


      <br>


      <div class=" grid gap-6 mb-8 md:grid-cols-2 min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <h4 class="mb-4 font-semibold text-gray-600 dark:text-gray-300">
          Customer Address : -


          <%=orderData.deliveryDetails%>
        </h4>


        <h4 class="mb-4 font-semibold text-gray-600 dark:text-gray-300">
          Customer Name : - <%= orderData.userName%>


          <form action="">
          <div  style=" display: flex; justify-content: center;">
            <h4 class="mb-4 font-semibold text-gray-600 dark:text-gray-300">
              <br>
              <span class="text-gray-700 dark:text-gray-400"> Status </span>
              
              <select  name="category"
              class="block w-25 mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
              > 
              
              
                <option>ff</option>
                
                <option> <a href="#"> No Category Availiable</a></option>  <option>ff</option>
                
                <option> <a href="#"> No Category Availiable</a></option>
                
                
                <option>ff</option>
                
                <option> <a href="#"> No Category Availiable</a></option>
                
              </select>
              
            </h4>
            
            <a style="margin: 10px; width: 70px; height: 40px; margin-top: 50px;" href="#"
            class="px-3 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple" >
            Update
          </a>
          
          
        </div>
      </form>
        
        
        




    </h4>
    </div>
      <% product.forEach((value,index)=>{%>


        <div class="w-full overflow-hidden rounded-lg shadow-xs">
          <div class="w-full overflow-x-auto">
            <table class="w-full whitespace-no-wrap">
              <thead>
                <tr
                  class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                  <th class="px-4 py-3">SL%></th>
                  <th class="px-4 py-3">order ID</th>
                  <th class="px-4 py-3">Product Name</th>
                  <th class="px-4 py-3">Quantity</th>

                  <th class="px-4 py-3">Method</th>

                  <th class="px-4 py-3">Status</th>

                </tr>

              <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">


                <tr class="text-gray-700 dark:text-gray-400">
                  <td class="px-4 py-3">
                    <%= index+1%>
                  </td>
                  <td class="px-4 py-3">
                    <%= value._id%>
                  </td>
                  <td class="px-4 py-3">
                    <%= value.productId.name%>
                  </td>
                  <td class="px-4 py-3">
                    <%= value.quantity%>
                  </td>
                  <td class="px-4 py-3">
                    <%=orderData.paymentMethod%>

                  </td>
                  <td class="px-4 py-3">
                    <%=orderData.status%>

                  </td>
                 
              </tbody>
              </thead>
              <tbody></tbody>




              </tbody>
            </table>
          </div>
        </div>

        <br><br>

        <div class="grid gap-6 mb-8 md:grid-cols-2">


          <div class=" grid gap-6 mb-8 md:grid-cols-2 min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            <h4 class="mb-4 font-semibold text-gray-600 dark:text-gray-300">
              Product Image
              <img style="width: 200px; height: auto;" src="<%= value.productId.image[0]%>" alt="">
            </h4>
            <p class="text-gray-600 dark:text-gray-400">
              Description :-
              <%= value.productId.description%>
            </p>
          </div>


        </div>
        <%})%>

    </div>
  </main>

  <%- include('../admin/layouts/admin_footer.ejs')%>