<%- include('../admin/layouts/admin_header.ejs')%>

  


         
    <main class="h-full pb-16 overflow-y-auto">
          <div class="container grid px-6 mx-auto">
            <h4
              class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
            >
           <p>Sales Reports </p>
            </h4>
            
            <!-- With avatar -->
                        <!-- With actions -->
           
            <div class="w-full overflow-hidden rounded-lg shadow-xs">
              <div class="w-full overflow-x-auto">
                <table class="w-full whitespace-no-wrap">
                    <thead>
                      <tr
                        class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                      >  
                        <th class="px-4 py-3">NO</th>

                        <th class="px-4 py-3">Order Id</th>
                        <th class="px-4 py-3">Date</th>
                        <th class="px-4 py-3">Amount</th>
                        <th class="px-4 py-3">Method</th>
                        <th class="px-4 py-3">Status</th>
                      </tr>
                    </thead>
                    <tbody   class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
                    >
                       <% orderdetails.forEach((value,index)=>{%>

                
                    
                      <tr class="text-gray-700 dark:text-gray-400">
                        <td class="px-4 py-3">
                            <%= index+1%>
                        </td>
                        <td class="px-4 py-3 text-sm">
                        <%= value._id%>
                        </td>

                        <td>
                            <%=value.Date.toISOString().substring(0,10)%>
                        </td>
                        <td class="px-4 py-3 text-xs">
                          RS: <%= value.totalAmount%>
                        </td>
                        <td class="px-4 py-3 text-sm">
                          <%= value.paymentMethod%>
                          </td>
                        <td class="px-4 py-3 text-sm">
                        <%= value.status%>
                        </td>
                      </tr>
            
                     
                      <%})%>
                      
                    </tbody>
                  </table>
              </div>
            </div>


         
    
         <a class="my-4 text-2 font-semibold text-gray-700 dark:text-gray-200"
         href="/admin/export_to_pdf">  <button  class="btn btn-danger" >Dowload </button></a>
        
       
        

          </div.>





    </main>
    
    






        
      <%- include('../admin/layouts/admin_footer.ejs')%>

