<%- include('../users/layouts/user_header.ejs')%>

    <main>
        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Checkout</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--================Checkout Area =================-->
        <section class="checkout_area section_padding">
          <div class="container">
          
         
            <div class="billing_details">
              <div class="row">
                <div class="col-lg-8">
                  <h3>Billing Address</h3>

                  <hr>

                  <a class="btn_3" href="./add_address">ADD ADDRESS</a>
                  <br><br>
 
                  <% if(typeof address !== "undefined"){%>

                 
                   <div style="width:auto;height:auto" class="order_box">

                     <% address.forEach((value)=>{%>
                      
                   <input class="form-check-input" name="address" type="radio" 
                        
                         id="flexCheckDefault" required> <br>
                        <label class="form-check-label" for="flexCheckDefault">
                          <%= value.fname%><%= value.sname %>
                         <%= value.address %> <br>
                         <%= value.mobile %>,
                         <%= value.email%> 
                         <%= value.pin %>
                        </label>
                        <br>
                        <div>
                        <a  style="color: red;" href="/delete_address?id=<%=value._id%>">delet</a>
                        </div>
                        <hr>
                        <% })%>
                      </div>
                      <% }%>


              

                </div>
                <div class="col-lg-4">
                  <div class="order_box">
                    <h2>Your Order</h2>
                    
                    <ul class="list list_2">
                      <li>
                        <a href="#">Subtotal
                          <span>$2160.00</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">Shipping
                          <span>Flat rate: $50.00</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">Total
                          <span>$2210.00</span>
                        </a>
                      </li>
                    </ul>
                    <div class="payment_item">
                      <div class="radion_btn">
                        <input type="radio" id="f-option5" name="selector" />
                        <label for="f-option5">COD</label>
                        <div class="check"></div>
                      </div>
                    </div>
                    
                  
                    
                    <a class="btn_3" href="#">Proceed to Pay</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--================End Checkout Area =================-->
    </main>
   
    <%- include('../users/layouts/user_footer.ejs')%>
