<%- include('../users/layouts/user_header.ejs')%>

    <main>
      <form  id="checkout">
        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Checkout</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--================Checkout Area =================-->
        <section class="checkout_area section_padding">
          <div class="container">
          
         
            <div class="billing_details">
              <div class="row">
                <div class="col-lg-8">
                  <h3>Billing Address</h3>

                  <hr>

                  <!-- <a class="btn_3" href="./user_profile">ADD ADDRESS</a> -->

                  <a class="btn_3" href="./add_address">ADD ADDRESS</a> <br><br>

                 
 
                  <% if(typeof address !== "undefined"){%>   


                 
                   <div style="width:auto;height:auto" class="order_box">

                     <% address.forEach((value,index)=>{%>
                      
                   <input class="form-check-input" name="address" type="radio" 
                 value="  <%= value.fname%><%= value.sname %> 
                   <%= value.address %> <%= value.pin %>"
                         id="flexCheckDefault" required> <br>
                        <label class="form-check-label" for="flexCheckDefault">
                          <%= value.fname%><%= value.sname %> <br>
                         <%= value.address %> <br>
                         Ph : <%= value.mobile %>,
                         <%= value.email%> <br>
                         <%= value.pin %>
                        </label>
                        <br>
                        <!-- <div style="margin-left: 10px;">
                                          
                          <a   class="btn hero-btn " style="color: rgb(248, 246, 246);" href="/delete_address?id=<%=value._id%>">delet</a>
                      

                       
                      </div> -->
                       
                        <hr>
                        <% })%>
                      </div>
                      <% }%>


              

                </div>
                <div class="col-lg-4">
                  <div class="order_box">
                    <h2>Your Order Payement Deatails</h2>
                    
                    <ul class="list list_2">
                      <li>
                        <a href="#">Subtotal
                          <span>RS :<%= Total%></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">Shipping
                          <span>---</span>
                        </a>
                      </li>
                      <li>
                   
                        <a href="#">Total 
                        <span id="total1">RS :<%= Total%></span>  
                        </a>
                      
                      </li>
                    </ul>
                   
                      <div >

                        <input type="radio" name="Payment" value="COD" required>
                        <label for="Payement">COD</label>
                      </div>
                      <div>
                        <input type="radio" name="Payment" value="online" required>
                        <label for="Payement">Online</label>
                      </div>


                      
          
           
                     
                     
                
                    
                  
                    <button class="btn_3" type="submit">Place order</button>
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </form>
        </section>
        <!--================End Checkout Area =================-->
    </main>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


    <script>
      $("#checkout").submit((e)=>{
        const amount = document.getElementById("total1").innerHTML;
        console.log("hiii");
        // const amount2 = document.getElementById("gt2").innerHTML;
        // const discount = document.getElementById("gt3").innerHTML;
        let address = $("input[name=address]:checked").val();
        let payment = $("input[name=Payment]:checked").val();

        console.log(amount);
        console.log(address)
        console.log(payment)
        e.preventDefault();
        $.ajax({
          url:"/checkout",
          method:"post",
          data:{
            amount:amount,
            address:address,
            payment:payment
          },
          success:(response)=>{
            if(response.codsuccess){
              location.href = "/order-placed";
            }else{
              razorpayPayment(response.order);
            }
          }
        })
      })
    
      function razorpayPayment(order){
    
              var options = {
                  "key": "rzp_test_QK6YRj6TBJfBBw", // Enter the Key ID generated from the Dashboard
                  "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                  "currency": "INR",
                  "name": "TZ watches", //your business name
                  "description": "Test Transaction",
                  "image": "https://example.com/your_logo",
                  "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                  "handler": function (response){
                    
    // alert(response.razorpay_payment_id);
    // alert(response.razorpay_order_id);
    // alert(response.razorpay_signature)
                      verifyPayment(response, order);
                  },
                  "prefill": {
                      "name": "Gaurav Kumar", //your customer's name
                      "email": "gaurav.kumar@example.com",
                      "contact": "9000090000" 
                  },
                  "notes": {
                      "address": "Razorpay Corporate Office"
                  },
                  "theme": {
                      "color": "#3399cc"
                  }
              };
              var rzp1 = new Razorpay(options);
                  rzp1.open();
            }
      function verifyPayment(payment,order){
        const amount = document.getElementById("total1").innerHTML;
        // const amount2 = document.getElementById("gt2").innerHTML;
        $.ajax({
          url:"/verifyPayment",
          method:"post",
          data:{
            payment,
            amount,
            order
          },
          success:(response)=>{
            if(response.success){
              location.href = '/order-placed';
            }else{
              alert('payment failed');
              location.href = '/home';

            }
          }
        })
      }
      </script>

   
    <%- include('../users/layouts/user_footer.ejs')%>
